@import 'styles/utils';

.navbar {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: $safe-area;
  background-color: map-get($colors, primary);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0.5rem 7rem;
  transition: 0.25s all linear;

  @media screen and (max-width: $mobile-screen) {
    padding-inline: 1rem;
  }

  @media screen and (min-width: $desktop-screen) {
    padding-inline: 15rem;
  }
}

.logo {
  padding: 0.125rem 0;
  height: 2.5rem;
  margin-right: 1rem;
}