@import 'utils';

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  height: 100vh;
  margin: auto;
  max-width: 90ch;
  background-color: #ebebeb;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input,
button {
  border:none;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

/**
 * App styles
 */

.container {
  height: auto;
  padding: 0 $safe-area;
}

.content {
  height: 100%;
  padding-block: $safe-area;
}

.page-placeholder {
  height: auto;
  margin-top: 5rem;
  width: 100%;
  text-align: center;
}
